<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title sec:authentication="name"></title>
</head>
<body>
    <nav >
        <div >
            <div >
                <a href="#">Spring Security Show</a>
            </div>
            <div id="navbar" >
                <ul>
                    <li><a th:href="@{/}">index</a></li>
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">admin</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <a th:href="@{/others}">enter-nouser</a>
    <a th:href="@{/users}">enter-user</a>
    <div >

        <div    >
            <h1 th:text="${list.get(0)}"></h1>
            <p sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>,您好,您的角色有：
                <span sec:authentication="principal.authorities"></span>
            </p>
            <p  th:text="${list.get(1)}"></p>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <p  th:text="${list.get(2)}"></p>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                <p >恭喜您,您有 用户 角色 </p>
            </div>
            <div sec:authorize="hasRole('ROLE_NOUSER')">
                <p >恭喜您,您有 非用户 角色 </p>
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="submit"  value="注销"/>
            </form>
        </div>

    </div>
</body>
</html>