<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>my first springboot website</title>
    <title>Title</title>
</head>
<body>
<form class="form-signin" action=" " th:action="@{/login}" method="post">
    <div style="text-align: center; color: blue">[[${message}]]</div>

    <h1 >请登录</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"/>
    <label class="sr-only" >用户名</label>
    <input type="text" name="usernames" placeholder="Username" th:placeholder="用户名" required="" autofocus="">
    <label class="sr-only" >密码</label>
    <input type="password" name="password" placeholder="Password" th:placeholder="密码" required="">
    <div >
        <label>
            <input type="checkbox" value="rememberme"> 记住我
        </label>
    </div>
    <button type="submit" >Sign in</button>

</form>
</body>
</html>